
@media (min-width: 980px) and (max-width: 1150px) {

.carousel-caption h3 {
  font-size: 45px;
}


}

@media (min-width: 768px) and (max-width: 979px) {

.carousel-caption h2 {
  font-size: 55px;
}

.carousel-caption h3 {
  font-size: 36px;
}


.service-item {
  margin: 0 auto 30px;
  text-align: center;
  width: 325px;
}

.service-icon {
  float: none;
  margin: 0 auto 15px;
  text-align: center;
  width: 50px;
}

.service-desc {
  margin-left: 0;
  position: relative;
  top: 0;
}


.work-item {
  width: 33%;
}


}

@media only screen and (max-width: 767px) {

.sec-sub-title p {
  font-size: 14px;
}

.carousel-caption h2 {
  font-size: 35px;
}

.carousel-caption h3 {
  font-size: 22px;
}

.carousel-caption p {
  font-size: 14px;
}

.social-links {
  margin-top: 20%;
}

.service-item {
  margin: 0 auto 30px;
  text-align: center;
  width: 280px;
}

.service-icon {
  float: none;
  margin: 0 auto 15px;
  text-align: center;
  width: 50px;
}

.service-desc {
  margin-left: 0;
  position: relative;
  top: 0;
}

.work-item {
  left: 5% !important;
  width: 90%;
}

.joinHands {
  margin: 0 30px;
  border-radius: 30px;
}

.joinHands h3{
  padding:0px 30px 0 10px;
}

.devider:before,
.devider:after {
  content: "_________________";
}

}


@media only screen and (min-width: 480px) and (max-width: 767px) {

.service-item {
  margin: 0 auto 30px;
  text-align: center;
  width: 325px;
}

.service-icon {
  float: none;
  margin: 0 auto 15px;
  text-align: center;
  width: 50px;
}

.service-desc {
  margin-left: 0;
  position: relative;
  top: 0;
}

.work-item {
  left: inherit !important;
  width: 50%;
}

}
